@import "../utils/variables.scss";
@import "../utils/mixins.scss";
@import "../utils/placeholder.scss";

/*Header Acceuil*/

.header_logo{
    position: relative;
    margin: 0%;
    height: 63px;
    @extend %flex-center;
    background-color: white;
    @include shadow_header;
}