#header{
    width: 100%;
    @include flex-column;
    @include center;
    position: relative;
    .header-logo{
        width: 100%;
        text-align: center;
        z-index: 1;
        .header__img{
            width: 162px;
            padding: 14px 0 8px 0;
        }
    }
    .header__location{
        width: 100%;
        height: 50px;
        background-color: $tertiaryBackgroundColor;
        @include flex-row;
        @include center;
        .location__icon{
            position: relative;
            right: 18px;
        }
    }
}

header {

    .header_logopage {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ffffff;
        margin: 0px;
        height: 63px;

        @include desktopVersion {
            height: 96px;
        }

        a {
            text-decoration: none;
            color: #000000;
            cursor: pointer;
        }

        i {
            position: absolute;
            margin-top: -10px;
            left: 2rem;
            font-size: 1.5rem;
        }

        img {
            width: 162px;

            @include desktopVersion {
                width: 200px;
            }
        }
    }

    .header_img {
        object-fit: cover;
        height: 275px;
        width: 100%;

        @include desktopVersion {
            height: 400px;
        }
    }
}