.loader{
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: #ffffff;
    opacity: 0.9;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: disappear 1ms 3s forwards;

    &__circles{
        width: 25px;
        height: 25px;
        border-radius: 50%;
        position: relative;
        animation: flash 0.7s ease-out infinite alternate;

        @keyframes flash{
            0%{
                background-color: #FFF2;
                box-shadow: 32px 0 #FFF2, -32px #9356dc;
            }
            50%{
                background-color: #ff79da;
                box-shadow: 32px 0 #FFF2, -32px #FFF2;
            }
            100%{
                background-color: #FFF2;
                box-shadow: 32px 0 #99e2d0, -32px 0 #FFF2;
            }
        }

        @keyframes disappear {
            to{
                transform: scale(0);
            }
        }
    }
}