@mixin button{
    cursor: pointer;
    background: linear-gradient(to top, $mainButtonColor, $secondaryButtonColor);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    border: none;
    width: 218px;
    height: 50px;
    opacity: 1;
    transition: opacity 400ms ease-in-out;
    transition: box-shadow .4s ease-in-out;
    text-align: center;
    padding-top: 15px;
    a{
        color: #FFF;
    }
    &:hover{
        opacity: 0.80;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.35);
    }
}

.btn-main{
    @include mainButton; 
    @include cardShadow; 
    @include mainLinearGradientBackground;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1; 
    &:hover{
        &::after{
            opacity: 1;
        }   
    }
    /*pseudo-élement qui définit la 2e couche qui s'affichera lors du hover*/
    &::after {
        @include btnMainAnimation;
        @include mainButton;
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
        z-index: -1;
    }
}
/********************************** bouton principal des pages de menu**********************************/
.btn-commande{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
   
}