@charset "UTF-8";
/* Media queries desktop */
/* Media queries tablette */
/* Ombres des card */
/* Gradinet de la couleur principal du site */
/* Propriétés de base des bouttons principal */
/* Animation de boutton principal lors du hover */
/* card de la section fonctionnement */
.fonctionnement_card {
  box-shadow: O 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: #EAEAEA;
  color: black;
  display: flex;
  width: 100%;
  height: 75px;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  gap: 20px;
  z-index: 1;
}
.fonctionnement_card p {
  font-weight: 500;
}
.fonctionnement_card_number {
  background-color: #9356DC;
  display: flex;
  width: 1.2rem;
  height: 1.2rem;
  position: absolute;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 0.9rem;
  left: -0.8rem;
  border-radius: 50%;
}
.fonctionnement_card:hover {
  color: #9356DC;
}
.fonctionnement_card:hover::after {
  opacity: 1;
}
.fonctionnement_card::after {
  background-color: #D2D2D2;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  border-radius: 20px;
}

/* card de la liste des restaurants */
.restaurants_card {
  box-shadow: O 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 100%;
  height: 251px;
  position: relative;
  border-radius: 15px;
  background-color: white;
}
@media screen and (min-width: 767px) and (max-width: 1024px) {
  .restaurants_card {
    width: 351px;
  }
}
@media screen and (min-width: 1024px) {
  .restaurants_card {
    width: 351px;
  }
}
.restaurants_card_etiquette {
  background-color: #99E2D0;
  color: #008766;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  padding: 6px 9px;
  border-radius: 2px;
  top: 14px;
  right: 14px;
}
.restaurants_card img {
  width: 100%;
  height: 70%;
  border-radius: 15px 15px 0 0;
}
.restaurants_card_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 13px;
  padding-right: 25px;
}
.restaurants_card_content h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.restaurants_card_content p {
  margin-top: 0px;
}
.restaurants_card_content .heart {
  position: relative;
  z-index: 1;
}
.restaurants_card_content .heart:hover .heart_filled {
  transform: scale(1);
}
.restaurants_card_content .heart_filled {
  background: linear-gradient(#9356DC, #FF79DA);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  transform: scale(0);
  transform-origin: bottom;
  transition: transform 750ms ease-in-out;
}

/* card des pages menu */
.menu-card {
  box-shadow: O 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
  animation: animationMenu 500ms both;
}
.menu-card--1 {
  animation-delay: 200ms;
}
.menu-card--2 {
  animation-delay: 400ms;
}
.menu-card--3 {
  animation-delay: 600ms;
}
.menu-card--4 {
  animation-delay: 800ms;
}
.menu-card--5 {
  animation-delay: 1000ms;
}
.menu-card--6 {
  animation-delay: 1200ms;
}
.menu-card--7 {
  animation-delay: 1400ms;
}
.menu-card--8 {
  animation-delay: 1600ms;
}
.menu-card--9 {
  animation-delay: 1800ms;
}
.menu-card--10 {
  animation-delay: 2000ms;
}
.menu-card:hover > .card-active {
  transform: translateX(0);
}
.menu-card .card-inactive {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px;
  overflow: hidden;
}
.menu-card .card-inactive_title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu-card .card-inactive_title h3 {
  margin-top: 0px;
  font-size: 18px;
  font-weight: 5OO;
  margin-bottom: -10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu-card .card-inactive_title p {
  font-size: 15px;
  font-weight: 3OO;
  margin-bottom: 0px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu-card .card-active {
  display: flex;
  gap: 10px;
  transform: translateX(5Opx);
  transition: transform 400ms ease-in-out;
}
.menu-card .card-active_price {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: -8px;
}
.menu-card .card-active_check-box {
  background-color: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  color: white;
  border-radius: 0 15px 15px 0;
}/*# sourceMappingURL=card.css.map */