@import "../utils/mixins.scss";
@import "../utils/variables.scss";

/* card de la section fonctionnement */
.fonctionnement_card{
    @include cardShadow;
    background-color: $tertiaryBackgroundColor;
    color: $mainTextColor;
    display: flex;
    width: 100%;
    height: 75px;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    gap: 20px;
    z-index: 1;
    p{
        font-weight: 500;
    }

        &_number{
            background-color: $mainButtonColor;
            display: flex;
            width: 1.2rem;
            height: 1.2rem;
            position: absolute;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 0.90rem;
            left: -0.8rem;
            border-radius: 50%;
        }

    &:hover{
        color: $mainButtonColor;

        &::after{
            opacity: 1;
        }
    }

    &::after{
        background-color: $secondaryBackgroundColor;
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
        z-index: -1;
        border-radius: 20px;
    }
}

/* card de la liste des restaurants */
.restaurants_card{
    @include cardShadow;
    width: 100%;
    height: 251px;
    position: relative;
    border-radius: 15px;
    background-color: white;
    @include tabletteVersion{
        width: 351px;
    }
    @include desktopVersion{
        width: 351px;
    }
    &_etiquette{
        background-color: $etiquetteBackgroundColor;
        color: $etiquetteFontColor;
        width: fit-content;
        position: absolute;
        padding: 6px 9px;
        border-radius: 2px;
        top: 14px;
        right: 14px;
    }
    & img{
        width: 100%;
        height: 70%;
        border-radius: 15px 15px 0 0;
    }
    &_content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 13px;
        padding-right: 25px;
        & h3{
            margin-top: 10px;
            margin-bottom: 10px;
        }
        & p{
            margin-top: 0px;
        }
        .heart{
            position: relative;
            z-index: 1;
            &:hover{
                & .heart_filled{
                    transform:scale(1);
                }
            }
            &_filled{
                @include mainLinearGradientBackground;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: -1;
                color: transparent;
                background-clip: text;
                -webkit-background-clip: text;
                transform:scale(0);
                transform-origin: bottom;
                transition: transform 750ms ease-in-out;
            }
        }
    }
}

/* card des pages menu */
.menu-card{
    @include cardShadow;
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    animation: animationMenu 500ms both;
    @for $i from 1 through $numPlats{
        &--#{$i}{
            animation-delay: $menuAnimDelay *$i;
        }
    }

    &:hover > .card-active{
        transform: translateX(0);
    }

    .card-inactive{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 10px;
        overflow: hidden;
        &_title{
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;

            h3{
                margin-top: 0px;
                font-size: 18px;
                font-weight: 5OO;
                margin-bottom: -10px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }

            p{
                font-size: 15px;
                font-weight: 3OO;
                margin-bottom: 0px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
    }

    .card-active{
        display: flex;
        gap: 10px;
        transform: translateX(5Opx);
        transition: transform 400ms ease-in-out;

        &_price{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            margin-bottom: -8px;
        }

        &_check-box{
            background-color: $menuHightlightColor;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50%;
            color: white;
            border-radius: 0 15px 15px 0;
        }
    }
}