$loader-size: 150px; /* Modifier la taille du loader ici */
$loader-image: url("../utils/10602629_42350.jpg"); /* Ajouter le chemin vers votre image */

/* Styles du loader */
.loader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loader {
  width: $loader-size;
  height: $loader-size;
  background-image: $loader-image;
  background-size: cover;
  border-radius: 50%;
  animation: spin 2s linear infinite;
  display: none; /* Masquer le loader par défaut */
}

/* Animation de rotation */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Afficher le loader lorsque la page est en cours de chargement */
body.loading .loader {
  display: block;
}
