@mixin nouveau{
    content: "Nouveau";
    position: absolute;
    top: 15px;
    right: 15px;
    text-align: center;
    font-size: 16px;
    color: $etiquetteFontColor;
    background-color: $etiquetteBackgroundColor;
    padding: 7px 10px;
    border-radius: 2px;
    z-index: 2;
}