@import "../utils/mixins.scss";
@import "../utils/variables.scss";
@import "../utils/placeholder.scss";

.wrapper{
    max-width: 1440px;
    width: 100%;
    @include desktopVersion{
        width: 100%;
        max-width: 1440px;
        margin: auto;
    }
}

body{
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    display: flex;
    justify-content: center;
}

*{
    box-sizing: border-box;
}

img{
    object-fit: cover;
}

ul li{
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

a{
    color: $mainTextColor;
    text-decoration: none;
}
