@import "../utils/mixins.scss";
@import "../utils/variables.scss";

body{
    width: 100%;
    margin: auto;

    .wrapper{
        max-width: 767px;
        margin: auto;
        background-color: white;
        @include tabletteVersion{
            max-width: 767px;
            width: 100%;
        }
        @include desktopVersion{
            max-width: 1024px;
            width: 100%;
        }
    }
}

*{
    box-sizing: border-box;
}

img{
    object-fit: cover;
}

ul li{
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

a{
    color: $mainTextColor;
    text-decoration: none;
}
