@import "../utils/mixins.scss";
@import "../utils/variables.scss";
@import "../utils/placeholder.scss";

*{
    box-sizing: border-box;
}

img{
    object-fit: cover;
}

ul li{
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

a{
    color: $mainTextColor;
    text-decoration: none;
}
