.bienvenue{
    @include flex-column;
    justify-content: space-around;
    align-items: center;
    padding: 39px 30px;
    background-color: $tertiaryBackgroundColor;
    text-align: center;
    gap: 27px;
    width: 100%;
    @include desktopVersion{
        gap: 30px;
    }
    .bienvenue_TextAcceuil{
        @include flex-column;
        text-align: center;
        gap: 10px;
        @include desktopVersion{
            gap: 25px;
        }
        .bienvenue_text_tittle{
            padding: 0px 20px;
            font-weight: 700;
            @include desktopVersion{
                font-size: 40px;
            }
        }
        .bienvenue_text_txt{
            font-weight: 300;
            font-size: 18px;
            color: #353535;
        }
    }
    .btn_main{
        @include button;
        color: #FFF;
    }
}

.fonctionnement{
    padding: 0 17px 68px 35px;
    display: flex;
    flex-direction: column;
    gap: 25px;

    @include desktopVersion{
        padding-left: 10%;
        padding-right: 10%;
    }

    &__wrapper{
        display: flex;
        flex-direction: column;
        gap: 25px;

        @include tabletteVersion{
            flex-direction: row;
            justify-content: space-between;
        }
        
        @include desktopVersion{
            flex-direction: row;
            justify-content: space-between; 
        }
    }
}

#restaurants{
    width: 100%;
    background-color: $tertiaryBackgroundColor;
    padding: 20px 10% 20px 10%;

    h2{
        @include tabletteVersion{
            margin-bottom: 30px;
            margin-top: 10px;
        }
    }

    @include desktopVersion{
        padding-left: 10%;
        padding-right: 0%;
    }   
}

.restaurants__wrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 60px;
    width: 100%;
    margin-bottom: 80px;
    @include tabletteVersion{
        @include flex-row;
        @include center;
        flex-wrap: wrap;
    }

    @include desktopVersion{
        flex-direction: row;
        width: 100%;
        flex-wrap: wrap;
        row-gap: 50px;
        column-gap: 100px;
        justify-content: space-between;   
    }
}