.bienvenue{
    @include flex-column;
    justify-content: space-around;
    align-items: center;
    padding: 39px 30px;
    background-color: $tertiaryBackgroundColor;
    text-align: center;
    gap: 27px;
    width: 100%;
    @include desktopVersion{
        gap: 30px;
    }
    .bienvenue_TextAcceuil{
        @include flex-column;
        text-align: center;
        gap: 10px;
        @include desktopVersion{
            gap: 25px;
        }
        .bienvenue_text_tittle{
            padding: 0px 20px;
            font-weight: 700;
            @include desktopVersion{
                font-size: 40px;
            }
        }
        .bienvenue_text_txt{
            font-weight: 300;
            font-size: 18px;
            color: #353535;
        }
    }
    .btn_main{
        @include button;
        color: #FFF;
    }
}

.fonctionnement{
    padding: 0 17px 68px 35px;
    display: flex;
    flex-direction: column;
    gap: 25px;

    @include desktopVersion{
        padding-left: 10%;
        padding-right: 10%;
    }

    &__wrapper{
        display: flex;
        flex-direction: column;
        gap: 25px;

        @include tabletteVersion{
            flex-direction: row;
            justify-content: space-between;
        }
        
        @include desktopVersion{
            flex-direction: row;
            justify-content: space-between; 
        }
    }
}

.restaurants{
    background-color: #F7F7F7;
    padding: 20px 20px 20px 20px;
    @include desktopVersion{
        width: 100%;
        padding: 20px 10% 20px 10%;
    }
    .restaurants_container{
        @include desktopVersion{
            width: 100%;
            max-width: 1440px;
            margin: auto;
        }
    }
    .restaurants_title{
        padding-bottom: 25px;
        @include tabletteVersion{
            padding-left: 3.5%;
        }
        @include desktopVersion{
            padding-left: 0;
        }
    }
    .cards{
        @include flex-column;
        gap: 20px;
        @include tabletteVersion{
            @include flex-row;
            @include center;
            flex-wrap: wrap;
        }
        @include desktopVersion{
            flex-direction: row;
            width: 100%;
            flex-wrap: wrap;
            row-gap: 50px;
            column-gap: 100px;
            justify-content: space-between;
        }
        .cards__card{
            position: relative;
            @include tabletteVersion{
                width: 45%;
            }
            @include desktopVersion{
                width: 43%;
            }
            .card__link{
                width: 100%;
                height: 251px;
                @include flex-column;
                border-radius: 15px;
                overflow: hidden;
                box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
                .card__img{
                    height: 70%;
                    width: 100%;
                    object-fit: cover;
                }
                .card__txt{
                    height: 30%;
                    color: #000;
                    padding: 14px 13px;
                    .card__title{
                        padding-bottom: 5px;
                    }
                }
            }
            .hearts{
                position: relative;
                .empty-heart{
                    position: absolute;
                    right: 25px;
                    top: -50px;
                    opacity: 1;
                }
                .filled-heart{
                    position: absolute;
                    right: 25px;
                    top: -50px;
                    opacity: 0;
                    transition: opacity .5s ease-in-out;

                }
                
                .filled-heart{
                    opacity: 1;
                    }
                }
            }                   
        }
    }  
    
    .nouveau::after{
        @include nouveau;
    }