main {
    @include tabletteVersion {
        background-color: #ffffff;
    }

    @include desktopVersion {
        background-color: #ffffff;
    }
}

.main__menu {
    background-color: #f6f6f6;
    border-radius: 40px 40px 0px 0px;
    width: 100%;
    position: relative;
    margin-top: -50px;

    @include tabletteVersion {
        width: 80%;
        margin: auto;
        margin-top: -60px;
    }

    @include desktopVersion {
        width: 80%;
        margin: auto;
        margin-top: -60px;
    }
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 17px 10px;

    @include tabletteVersion {
        width: 50%;
        margin: auto;
    }

    @include desktopVersion {
        width: 40%;
        margin: auto;
        justify-content: center;
        gap: 30px;
    }

    .heart {
        @include desktopVersion {
            right: 0.5rem;
        }
    }
}

.menuitem {
    background-color: #ffffff;
    margin-bottom: 12px;
    padding: 11px;
    box-shadow: 0px 4px 15px rgba(0,0,0.1);
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: inherit;
    justify-content: space-between;
    flex-wrap: nowrap;

    &__list {
        white-space: nowrap;
        overflow: hidden;
        flex: 1;
    }

    &__price {
        align-self: flex-end;
    }

}

.restaurant__menu {
    padding: 28px 13px 0px 13px;

    a {
        text-decoration: none;
        color: #000000;
        cursor: pointer;
    }

    @include tabletteVersion {
        width: 70%;
        margin: auto;
    }

    @include desktopVersion {
        width: 70%;
        margin: auto;
    }
}