/* Media queries desktop */
@mixin desktopVersion {
    @media screen and (min-width : 1024px) {
        @content;
    }
}

/* Media queries tablette */
@mixin tabletteVersion {
    @media screen and (min-width : 768px) and (max-width : 1023px) {
        @content;
    }
}

/* Shadow & Radius */

@mixin shadow_header {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

@mixin flex-row{
    display: flex;
    flex-direction: row;
}

@mixin flex-column{
    display: flex;
    flex-direction: column;
}

@mixin center{
    justify-content: center;
    align-items: center;
}

@mixin menu-title{
    .menu__title{
        font-size: 16px;
        font-weight: 300;
        .border-title--green{
            border-bottom: 3px solid $menuHightlightColor;
            display: inline-block;
            padding-bottom: 5px;
        }
    }
}