$mainBackgroundColor:#f6f6f6;
$secondaryBackgroundColor:#D2D2D2;
$tertiaryBackgroundColor:#EAEAEA;
$mainButtonColor:#9356DC;
$secondaryButtonColor:#FF79DA;
$tertiaryButtonColor: #F5EDFF;
$menuHightlightColor:#99E2D0;
$etiquetteBackgroundColor:#99E2D0;

$mainTextColor:black;
$footerTextColor:white;
$etiquetteFontColor:#008766;